logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
tmp
dist
.cache
.g8
*trace.db
database/*
*create-all.sql
*drop-all.sql
conf/evolutions/test
.bsp