name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Run tests
      run: sbt "testOnly components.* units.*"
    - name: Publish coverage
      uses: paambaati/codeclimate-action@v3.0.0
      env:
        CC_TEST_REPORTER_ID: 904c00199abc920083f0fa03c70e2dc4e381cd8c35890e938bb48cef89345f3a
      with:
        coverageCommand: sbt jacocoReport
        coverageLocations: ${{github.workspace}}/target/scala-2.13/jacoco/report/jacoco.xml:jacoco